@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');


* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #1a1a1a;
}

.load {
  display: block;
}


.ball {
  top: 550px;
  left: 50px;
  height: 50px;
  width: 50px;
  -webkit-animation: bounce-in-top 1.5s ease-in both;
  animation: bounce-in-top 1.5s ease-in both;
  position: absolute;

}

.img-responsive {
  box-sizing: border-box;
  margin-top: 10px;
}

.welcome {
  color: #fefefe;
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.mainBack {
  padding: 80px;
  text-align: center;
}

.btn-play {
  color: #fff;
  background: transparent;
  padding: 15px;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 90px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid #fefefe;
  -webkit-animation: pop 0.5s cubic-bezier(0.370, 0.000, 0.745, 0.715) infinite alternate both;
  animation: pop 0.8s cubic-bezier(0.370, 0.000, 0.745, 0.715) infinite alternate both;
}

.btn-play:hover {
  background: #fefefe;
  color: #1a1a1a;
}

.toss {
  display: none;
}

.modal-change {
  background: rgba(255, 255, 255, 0.7) !important;
}

.users {
  color: #fefefe;
  padding: 0;
  margin-top: 40px;
  position: relative;
}

.gold {
  color: rgb(248, 217, 95);
}


.social {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: relative;
}

.social.fb {
  border: 2.5px solid rgb(52, 55, 214);
}

.count {
  color: white;
  position: absolute;
  top: -8px;
  right: -8px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 10px;
}

.count.fb {
  background-color: rgb(52, 55, 214);
  background-size: cover;
}

.btn-choice {
  margin-top: 30px;
  background: transparent;
  color: white;
  font-size: 14px;
  font-weight: bolder;
  border: 2px solid #fefefe;
  box-shadow: none !important;
  padding: 10px 15px;
}

.btn-choice:hover {
  background: #fefefe;
  color: #1a1a1a;
  cursor: pointer;
}

.btn-choice:not(:disabled):not(.disabled):active,
.btn-choice:not(:disabled):not(.disabled).active,
.show>.btn-choice.dropdown-toggle {
  color: #1a1a1a;
  background-color: #bababa;
  border-color: #fefefe;
}


.player {
  position: absolute;
  top: 40;
  left: 83%;
  animation: move-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.system {
  position: absolute;
  top: 0;
  right: 470px;
  animation: move-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



@keyframes move-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
  }
}


@keyframes move-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(400px);
    transform: translateX(400px);
  }
}

.intro {
  text-align: center;
  background: #1a1a1a;
  margin-top: 20px;
}

.intro #NameSvg {
  position: relative;
  height: 58pt;
  width: 300pt;
}

.intro #NameSvg .name-tag {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  fill-opacity: 0;
  animation: draw 2.5s ease-in forwards;
  -webkit-animation: draw 2.5s ease-in forwards;
  -moz-animation: draw 2.5s ease-in forwards;
  -o-animation: draw 2.5s ease-in forwards;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 500;
  }

  75% {
    stroke-dashoffset: 100;
    fill-opacity: 0;
  }

  95% {
    stroke-dashoffset: 500;
    fill-opacity: 0.5;
  }

  100% {
    fill-opacity: 1;
  }
}

@keyframes pop {
  0% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  100% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
}

/*# sourceMappingURL=style.css.map */
@media only screen and (max-width: 600px) {
  .mainBack {
    padding: 0px;
  }

  .mainBack>img {
    margin-top: 50px;
    padding: 10px;
    height: 100%;
    width: 100%;
  }
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}




/*//////////////////////////////////////////*/

#coin {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin-top: 200px;
  display: none;
}

#coin div {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(0, 0, 0, .4);
  -moz-box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(0, 0, 0, .4);
  box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(105, 105, 105, 0.4);
}

.side-a {
  background: url(../assets/heads.png) no-repeat;
  background-size: cover;
}

.side-b {
  background: url(../assets/tails.png) no-repeat;
  background-size: cover;
}

#coin {
  transition: -webkit-transform 1s ease-in;
  -webkit-transform-style: preserve-3d;
}

#coin div {
  position: absolute;
  -webkit-backface-visibility: hidden;
}

.side-a {
  z-index: 100;
}

.side-b {
  -webkit-transform: rotateY(-180deg);

}

#coin.heads {
  -webkit-animation: flipHeads 3s ease-out forwards;
  -moz-animation: flipHeads 3s ease-out forwards;
  -o-animation: flipHeads 3s ease-out forwards;
  animation: flipHeads 3s ease-out forwards;
}

#coin.tails {
  -webkit-animation: flipTails 3s ease-out forwards;
  -moz-animation: flipTails 3s ease-out forwards;
  -o-animation: flipTails 3s ease-out forwards;
  animation: flipTails 3s ease-out forwards;
}

@-webkit-keyframes flipHeads {
  from {
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    transform: rotateX(0);
  }

  to {
    -webkit-transform: rotateX(1800deg);
    -moz-transform: rotateX(1800deg);
    transform: rotateX(1800deg);
  }
}

@-webkit-keyframes flipTails {
  from {
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    transform: rotateX(0);
  }

  to {
    -webkit-transform: rotateX(1980deg);
    -moz-transform: rotateX(1980deg);
    transform: rotateX(1980deg);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}