@import url('https://fonts.googleapis.com/css?family=Asap:400,700&display=swap');
$font-stack-1: 'Asap',
sans-serif;

body {
    background-color: black;
    margin: 0;
    font-family: $font-stack-1;
}

.intro {
    text-align: center;

    #NameContainer {
        position: relative;
        height: 48px;
        width: 354px;
        margin: 30px auto;

        #NameSvg {
            position: relative;
            height: 48px;
            width: 354px;

            .name-tag {
                stroke-dasharray: 500;
                stroke-dashoffset: 500;
                fill-opacity: 0;
                animation: draw 2.5s ease-in forwards;
                -webkit-animation: draw 2.5s ease-in forwards;

                -moz-animation: draw 2.5s ease-in forwards;

                -o-animation: draw 2.5s ease-in forwards;

                font-weight: bold;
                font-family: $font-stack-1;
            }

            @keyframes draw {
                0% {
                    stroke-dashoffset: 500;
                }

                75% {
                    stroke-dashoffset: 0;
                    fill-opacity: 0;
                }

                95% {
                    stroke-dashoffset: 500;
                }

                100% {
                    fill-opacity: 1;
                }
            }

            @-webkit-keyframes draw {
                0% {
                    stroke-dashoffset: 500;
                }

                75% {
                    stroke-dashoffset: 0;
                    fill-opacity: 0;
                }

                95% {
                    stroke-dashoffset: 500;
                }

                100% {
                    fill-opacity: 1;
                }
            }

            @-moz-keyframes draw {
                0% {
                    stroke-dashoffset: 500;
                }

                75% {
                    stroke-dashoffset: 0;
                    fill-opacity: 0;
                }

                95% {
                    stroke-dashoffset: 500;
                }

                100% {
                    fill-opacity: 1;
                }
            }

            @-o-keyframes draw {
                0% {
                    stroke-dashoffset: 500;
                }

                75% {
                    stroke-dashoffset: 0;
                    fill-opacity: 0;
                }

                95% {
                    stroke-dashoffset: 500;
                }

                100% {
                    fill-opacity: 1;
                }
            }
        }
    }
}