<!DOCTYPE html>
<html>

<head>
    <% include head %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="grid-container">
        <% include header %>
        <main>
            <div class="click-me" id="hide-me">Tap on the image</div>
            <div class="picDiv">
                <img class="razi-left" src="static/assets/razi-left.jpg" alt="about me" onclick="hideMe()">
                <img class="razi-right" src="static/assets/razi-right.jpg" alt="about me" onclick="hideMe()">
            </div>
        </main>
        <div class="detailsDiv">
            <div class="caption">
                <span class="hi">Hi, </span>
                <div class="text-box">
                    <div class="lead">I am M. Rizwan, developer of <span class="gold">ThumbBat</span></div>
                    <div class="lead">I developed this website to learn <span class="gold">Full Stack Web and
                            ML</span>
                    </div>
                    <div class="lead">I am currently developing an ML model for this game to make <span
                            class="gold">Intelligent
                            Move
                            Selection</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="socials">
            <div class="">Connect with me</div>
            <div class="social">
                <a href="https://facebook.com/oyeRazi" target="blank"><button class="btn btn-social"><i
                            class="fa fa-facebook" aria-hidden="true"></i></button></a>

                <a href="https://instagram.com/rizwan_shafique_" target="blank"><button class="btn btn-social"><i
                            class="fa fa-instagram" aria-hidden="true"></i>
                    </button></a>

                <a href="https://github.com/mrizwan18" target="blank"><button class="btn btn-social"><i
                            class="fa fa-github" aria-hidden="true"></i></button></a>
                </li>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/app.js"></script>
</body>

</html>