<!DOCTYPE html>
<html lang="en">
  <head>
    <% include head %>
  </head>

  <body>
    <div class="centerDiv">
      <h1 class="display-1 text-light">404</h1>
      <h1 class="display-2 text-light">(ง'̀-'́)ง</h1>
      <p class="display-4 text-light mt-5">
        Thehar ja, aendi main inquiry karwaana waan
      </p>
      <a href="/" class="btn-play">Home</a>
    </div>
  </body>
</html>
