<div class="footer collapse" id="footer">
  <div class="lead footer30">
    Players Online: <span class="gold" id="totalOnline"></span>
  </div>
  <div class="footer40">
    <button
      class="btn btn-choice"
      data-toggle="modal"
      data-target="#leaderboardModal"
    >
      Leaderboard
    </button>
    <button
      class="btn btn-choice"
      data-toggle="modal"
      data-target="#playersModal"
      onclick="showPlayers()"
    >
      Show Players Online
    </button>
    <button
      class="btn btn-choice"
      data-toggle="modal"
      data-target="#instructionsModal"
    >
      How to Play
    </button>
  </div>
</div>
<button
  class="btn btn-choice toggler"
  type="button"
  data-toggle="collapse"
  data-target="#footer"
  aria-expanded="false"
  aria-controls="footer"
>
  - / +
</button>
