<!DOCTYPE html>
<html lang="en">

<head>
    <% include head %>
</head>

<body>
    <div class="grid-container">
        <% include header %>
        <main>
            <div class="load">
                <p class="welcome">
                    Welcome to the Best Cricket game of your childhood!
                </p>
                <img src="static/assets/mainBack.png" class="img-fluid img-responsive" />
                <br>
                <form action="toss" method="GET">
                    <button class="btn btn-play" type="submit">Play</button>
                </form>
            </div>
        </main>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="static/js/app.js"></script>
</body>

</html>