<!DOCTYPE html>
<html lang="en">

<head>
    <% include head %>
</head>

<body>
    <% include header %>
    <div class="container">
        <div class="mainBack">
            <div class="load">
                <p class="welcome">
                    Welcome to the Best Cricket game of your childhood!
                </p>
                <img src="static/assets/mainBack.png" class="img-fluid img-responsive" />
                <br>
                <form action="toss" method="GET">
                    <button class="btn btn-play" type="submit">Play</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="static/js/app.js"></script>
</body>

</html>