@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');


* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #1a1a1a;
}

.load {
  display: block;
}


.img-responsive {
  box-sizing: border-box;
  margin-top: 10px;
}

.welcome {
  color: #fefefe;
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 20px;
  margin-top: 10px;
}

.mainBack {
  padding: 80px;
  text-align: center;
}

.btn-play {
  color: #fff;
  background: transparent;
  padding: 15px;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 80px;
  margin-left: 20px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid #fefefe;

}

.btn-play:hover {
  background: #fefefe;
  color: #1a1a1a;
  -webkit-animation: pop 0.5s cubic-bezier(0.370, 0.000, 0.745, 0.715) both;
  animation: pop 0.5s cubic-bezier(0.370, 0.000, 0.745, 0.715) both;
}



.users {
  color: #fefefe;
  padding: 0;
  margin-top: 40px;
  position: relative;
}

.gold {
  color: rgb(248, 217, 95);
  transition: all .26s;
}

.gold:hover {
  transform: translateY(-7px);
}

.social {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: relative;
}

.social.fb {
  border: 2.5px solid rgb(52, 55, 214);
}

.count {
  color: white;
  position: absolute;
  top: -8px;
  right: -8px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 10px;
}

.count.fb {
  background-color: rgb(52, 55, 214);
  background-size: cover;
}

.btn-choice {
  margin-top: 30px;
  background: transparent;
  color: white;
  font-size: 14px;
  font-weight: bolder;
  border: 2px solid #fefefe;
  box-shadow: none !important;
  padding: 10px 15px;
}

.btn-choice:hover {
  background: #fefefe;
  color: #1a1a1a;
  cursor: pointer;
}

.btn-choice:not(:disabled):not(.disabled):active,
.btn-choice:not(:disabled):not(.disabled).active,
.show>.btn-choice.dropdown-toggle {
  color: #1a1a1a;
  background-color: #bababa;
  border-color: #fefefe;
}

.btn-modal {
  margin-top: 30px;
  font-size: 14px;
  font-weight: bolder;
  box-shadow: none !important;
  padding: 10px 15px;
  color: white;
}

.btn-modal:hover {
  color: #fff;
  cursor: pointer;
}

.btn-modal.cancel {
  background: #d9534f;
}


.btn-modal.start {
  background: #5cb85c;
  opacity: 0.5;
  pointer-events: none;
}

.btn-modal.login {
  background: #d9534f;
  pointer-events: auto;
}

.btn-modal.signUp {
  background: #1a1a1a;
  pointer-events: auto;
}

.btn-innings {
  font-size: 14px;
  font-weight: bolder;
  box-shadow: none !important;
  padding: 10px 15px;
  border: 2px solid #1a1a1a;
  background: transparent;
  color: #1a1a1a;
}

.btn-innings:hover {
  background: #1a1a1a;
  cursor: pointer;
  color: white;
}

.btn-innings:not(:disabled):not(.disabled):active,
.btn-innings:not(:disabled):not(.disabled).active,
.show>.btn-innings.dropdown-toggle {
  color: white;
  background-color: #464545;
}

.player {
  margin: auto;
}


.marg-btn {
  align-content: center;
}

.selectInnings {
  margin: auto;
  margin-top: 0;
  height: auto;
  width: auto;
  padding: 10px;
  display: none;
}

ul {
  counter-reset: index;
  padding: 0;
  max-width: 100%;
}

li {
  counter-increment: index;
  display: flex;
  align-items: center;
  margin-left: 5px;
  padding: 12px 0;
  box-sizing: border-box;
}

li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.3rem;
  text-align: right;
  font-weight: bold;
  min-width: 50px;
  padding-right: 12px;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: linear-gradient(to bottom, #5cb85c, #d9534f);
  background-attachment: fixed;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

li+li {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}












@keyframes move-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
  }
}


@keyframes move-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(400px);
    transform: translateX(400px);
  }
}

.intro {
  text-align: center;
  background: #1a1a1a;
  margin-top: 20px;
}

.intro #NameSvg {
  position: relative;
  height: 58pt;
  width: 300pt;
}

.intro #NameSvg .name-tag {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  fill-opacity: 0;
  animation: draw 3.5s ease-in forwards;
  -webkit-animation: draw 3.5s ease-in forwards;
  -moz-animation: draw 3.5s ease-in forwards;
  -o-animation: draw 3.5s ease-in forwards;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 500;
  }

  75% {
    stroke-dashoffset: 100;
    fill-opacity: 0;
  }

  95% {
    stroke-dashoffset: 500;
    fill-opacity: 0.5;
  }

  100% {
    fill-opacity: 1;
  }
}

@keyframes pop {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
}

/*# sourceMappingURL=style.css.map */
@media only screen and (max-width: 600px) {
  .mainBack {
    padding: 0px;
  }

  .mainBack>img {
    margin-top: 50px;
    padding: 10px;
    height: 100%;
    width: 100%;
  }
}




/*//////////////////////////////////////////*/

#coin {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin-top: 80px;
  display: none;
}

#coin div {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(0, 0, 0, .4);
  -moz-box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(0, 0, 0, .4);
  box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(105, 105, 105, 0.4);
}

.side-a {
  background: url(../assets/heads.png) no-repeat;
  background-size: cover;
}

.side-b {
  background: url(../assets/tails.png) no-repeat;
  background-size: cover;
}

#coin {
  transition: -webkit-transform 1s ease-in;
  -webkit-transform-style: preserve-3d;
}

#coin div {
  position: absolute;
  -webkit-backface-visibility: hidden;
}

.side-a {
  z-index: 100;
}

.side-b {
  -webkit-transform: rotateY(-180deg);

}

#coin.heads {
  -webkit-animation: flipHeads 3s ease-out forwards;
  -moz-animation: flipHeads 3s ease-out forwards;
  -o-animation: flipHeads 3s ease-out forwards;
  animation: flipHeads 3s ease-out forwards;
}

#coin.tails {
  -webkit-animation: flipTails 3s ease-out forwards;
  -moz-animation: flipTails 3s ease-out forwards;
  -o-animation: flipTails 3s ease-out forwards;
  animation: flipTails 3s ease-out forwards;
}

@-webkit-keyframes flipHeads {
  from {
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    transform: rotateX(0);
  }

  to {
    -webkit-transform: rotateX(1800deg);
    -moz-transform: rotateX(1800deg);
    transform: rotateX(1800deg);
  }
}

@-webkit-keyframes flipTails {
  from {
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    transform: rotateX(0);
  }

  to {
    -webkit-transform: rotateX(1980deg);
    -moz-transform: rotateX(1980deg);
    transform: rotateX(1980deg);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


/*/////////////////////*/

.crease {
  height: 250px;
  width: 100%;
}

.standing {
  margin-top: 10px;
  width: 250px;
  height: 80%;
  color: #fff;
  display: inline-block;
  font-size: 20px;

}

.scoreboard {
  margin-top:40px;
  margin-left: -105px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 4px;
  text-align: center;
  width: 200px;
  color: white;
  font-size: 46px;
  padding: 15px 20px;
  position: absolute;
}

.badge {
  background: #d9534f;
  color: white;
  font-size: 16px;
  padding: 2px 10px;
}

#userLabel {
  position: absolute;
  top: 45%;
  left: -30px;
}

#computerLabel {
  position: absolute;
  top: 45%;
  right: -60px;
}

#userDiv {
  margin-right: 330px;
}

#computerDiv {
  margin-left: 330px;
}